*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
header{
    width: 100%;
    background-color: #272727;
    padding: 10px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.logo{
    height: 70px;
    width: auto;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 80px; 
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.navbar ul li a.active {
    font-weight: 600;
}
.menu-icon{
    display: none;
    cursor: pointer;
}
.line {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}
.banner{
    position: relative;
    background: url(images/banner.png);
    background-size: 100%;
    height: 400px;
    padding: 4%;
    background-size: cover;
    background-repeat: no-repeat;
}
.textbox{
    color: #ffffff;
    padding-left: 5%;
    font-weight: 100;
}
.infoblok{
    background-color: #272727;
    color: #ffffff;
    padding: 4% 0;
}
.infotext{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.infotext h3{
    font-size: 32px;
}
.infotext p{
    font-size: 22px;
}
.rezervace{
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(227, 30, 36);
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 20px;
}
.rezervace:hover{
    background-color: rgba(227, 30, 37, 0.767);
}
.okempu {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    letter-spacing: 1px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.flexbox{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.textLeva{
    padding-top: 2%;
     flex: 1; 
}
.obrPrava{
    width: 500px;
    height: auto;
}
.okempuk {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    letter-spacing: 1px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.flexboxk{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.textLevak{
    padding-top: 2%;
     flex: 1; 
     font-size: 100%;
}
.ods{
    margin-top: 20px; 
}
.ods p{
    margin: 15px 0;
}
.galerie{
    margin: 0 auto;
    width: 86%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 0;  
}
.galerie img{
     width: 100%;
    height: 100%;
    object-fit: cover;   
    transition: transform 0.3s ease;
}
.galerie img:hover{
    transform: scale(1.05); 
    z-index: 1; 
}
footer{
    background-color: #222;
}
footer p{
    text-align: center;
    color: #ffffff;
}
/*kontakt*/
.kon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background-color: #222;
    color: white;
    padding: 20px 10px;
    text-align: center;    
}
.doprava{
   background-color: #222222d5;
   color: white;
   padding: 2% 8%;
}

/*cenik*/
.bannerCenik{
    position: relative;
    background: url(images/cenikBanner.png);
    background-size: 100%;
    height: 200px;
    padding: 4%;
    background-size: cover;
    background-repeat: no-repeat;
}
.textboxCenik{
    color: #ffffff;
    text-align: center;
    margin-top: 4%;
    font-size: 18px;
}
.boxcontainer{
    box-sizing: border-box;
}
.boxc{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px 140px;
}
.box{
    width: 400px;
    background-color: #222222e9;
    color:#ffffff;
    padding: 12px 10px;
    text-align: center;
}
.box img{
    width: 100%;
}
.box p{
    font-size: 90%;
    line-height: 1.4;
}
.box h2{
    padding-bottom: 4%;
}
.but{
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(227, 30, 36);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 20px;
    margin: 8px;
    align-items: right;
    margin-left: auto;
    width: fit-content;
}
.ubytblok{
    background-color: #b3b3b3cc;
      display: flex;
    justify-content: center;
    margin: 20px 0;
}
.ub{
    max-width: 80%;          
    padding: 25px;              
    text-align: justify;       
    line-height: 1.6;
}
.ub ul{
    list-style-type: none;
}
.cenikgal {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.cenikgal img {
    width: 400px;
    height: auto;
    border-radius: 2px;
}
/*rezervace*/
.blockodkaz{
    text-align: center;
    margin-bottom: 20px;
}
.rezbut{
    text-decoration: none;
    color: white;
    background-color: rgb(227, 30, 36);
    padding: 14px 80px;
    margin: 40px 16px;
    cursor: pointer;
}
.rezbut:hover{
    background-color: rgba(227, 30, 37, 0.863);
}
.overeniTerminu{
    color: white;
    background-color: rgb(227, 30, 36);
    padding: 8px 30px;
    border: rgb(227, 30, 36) solid 1px;
    margin-top: 30px;
    font-size: 120%;
    cursor: pointer;
}
.overeniTerminu:hover{
    background-color: rgba(227, 30, 37, 0.835);
}
.ubyt {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 230px;  
    margin-top: 20px;
}

.formp {
    text-align: left;       
}
.formp h1{
    margin-bottom: 15px;
}
.kalendar {
    font-size: 14px;
    background: #222222cc;
    color: white;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 4px 12px #00000055;
}

.kalendar table {
    width: 100%;
}

.kalendar th {
    padding: 6px;
    font-weight: bold;
    background: #ffffff22;
}

.kalendar td {
    padding: 6px 10px;
    text-align: center;
    border-radius: 8px;
    transition: 0.2s;
}
.kalendar td:hover {
    background: #ffffff22;
    cursor: pointer;
}
.ubytos{
     width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;  
    margin-top: 20px;
    background-color: #b3b3b3cc;
}
.leftpocet{
    flex: left;
    margin-top: 50px;
}
.leftpocet label{
    display: inline-block;
    width: 180px;
    margin-bottom: 8px;
}
.osoby{
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: #222222d0;
    color: white;
    border-radius: 5px;
    padding: 20px;
}
.osoby label {
    display: inline-block;
    width: 180px;
    margin-bottom: 8px;
}
.chatky{
    margin-top: 40px;
    max-width: 100%;
}
.mapa{
    display: block;
    width: 800px;
    height: 400px;
    margin: 0 auto;
}
.infochata{
    width: 400px;
    margin: 20px auto;
    padding: 40px 200px;
    background-color:#222222d0; 
    border-radius: 5px;
    color: white; 
    text-align: left; 
}
.infochata label{
    display: inline-block;
    width: 140px;
    margin-bottom: 4px;
}
.tlacitka {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}
.odeslat{
     display: block;
    padding: 12px 24px;
    font-size: 18px;
    color: white;
    background-color: rgb(227, 30, 36);
    border: rgb(227, 30, 36) solid 1px;
    cursor: pointer;
}
/*rezervace strava*/
#stravaform{
    display: none;
}
.pozn{
    font-size: 70%;
}
.osoby select {
    display: inline-block;
    width: 180px;
    margin-bottom: 8px;
}
/*rezervace aktivity*/
#aktivityform{
    display: none;
}



/*redesign rezervace*/
#bg{
    background: url(images/okoli1.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.hero{
    height:300px;
    /*background:url("images/kontakt.png") center/cover no-repeat;*/
   /* background-color: #00000055;*/
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    text-align:center;
}

.hero h1{
    font-size:42px;
    background:rgba(0,0,0,0.4);
    padding:15px 30px;
    border-radius:8px;
}

/* REZERVACE BOX */

.reservation-box{
    width:1200px;
    margin:-80px auto 40px auto;
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.reservation-box h2{
    text-align:center;
    margin-bottom:30px;
}

.form-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.full{
    grid-column:1/3;
}

label{
    display:block;
    margin-bottom:10px;
    font-weight:bold;
}

input, select{
    width:100%;
    padding:12px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:15px;
}

/* BUTTON */

button{
    margin-top:10px;
    padding:14px;
    border:none;
    background:#e63946;
    color:white;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#c72c3a;
}

/* SECTION */

.section{
    margin-top:40px;
}
/*responsive*/
@media only screen and (max-width: 1100px)
{
.okempu {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    letter-spacing: 1px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.textLeva{
    padding-top: 0%;
     flex: 1; 
     font-size: 80%;
}
.obrPrava{
    width: 500px;
    height: auto;
}
.boxc{
    gap: 20px;
}
.box p{
    font-size: 85%;
    line-height: 1.4;
}
.ubytblok{
    background-color: #b3b3b3cc;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.ub{
    max-width: 75%;          
    padding: 25px;              
    text-align: justify;       
    line-height: 1.6;
}
.ub p{
    font-size: 90%;
}
.cenikgal {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}
.cenikgal img {
    width: 280px;
    height: auto;
    border-radius: 2px;
}
}
@media only screen and (max-width: 1000px)
{
.okempu {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    letter-spacing: 1px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.textLeva{
    padding-top: 0%;
     flex: 1; 
     font-size: 75%;
}
.obrPrava{
    width: 350px;
    height: auto;
}
.kon{
    font-size: 90%;
}
.boxc{
    gap: 10px;
}
.box p{
    font-size: 85%;
    line-height: 1.4;
}
.box h2{
    font-size: 100%;
}
.cenikgal img {
    width: 240px;
    height: auto;
    border-radius: 2px;
}
}
@media only screen and (max-width: 900px)
{
.infotext{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.infotext h3{
    font-size: 28px;
}
.infotext p{
    font-size: 18px;
}
.rezbut{
    text-decoration: none;
    color: white;
    background-color: rgb(227, 30, 36);
    padding: 14px 55px;
    margin: 20px 10px;
    cursor: pointer;
}
.boxc{
    gap: 5px;
}
.cenikgal img {
    width: 220px;
    height: auto;
    border-radius: 2px;
}
.ubyt {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 160px;  
    margin-top: 20px;
}
.ubytos{
     width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;  
    margin-top: 20px;
    background-color: #b3b3b3cc;
}
.mapa{
    display: block;
    width: 600px;
    height: 300px;
    margin: 0 auto;
}
.infochata{
    width: 200px;
    margin: 20px auto;
    padding: 40px 100px;
    background-color:#222222d0; 
    border-radius: 5px;
    color: white; 
    text-align: left; 
}
.flexboxk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
}
@media only screen and (max-width: 760px)
{
    .logo{
    height: 50px;
    width: auto;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px; 
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.navbar ul li a.active {
    font-weight: 600;
}
.infotext{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.infotext h3{
    font-size: 24px;
}
.infotext p{
    font-size: 16px;
}
.rezbut{
    text-decoration: none;
    color: white;
    background-color: rgb(227, 30, 36);
    padding: 12px 25px;
    margin: 10px 5px;
    cursor: pointer;
    font-size: 90%;
}
.boxc{
    gap: 2px;
}
.cenikgal img {
    width: 180px;
    height: auto;
    border-radius: 2px;
}
.ubyt {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;  
    margin-top: 20px;
}
.ubytos{
     width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    margin-top: 20px;
    background-color: #b3b3b3cc;
}
.osoby{
    margin-top: 20px;
    background-color: #222222d0;
    color: white;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center; 
}
.mapa{
    display: block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
}
.infochata{
    width: 200px;
    margin: 20px auto;
    padding: 40px 100px;
    background-color:#222222d0; 
    border-radius: 5px;
    color: white; 
    text-align: left; 
}
.boxcontainer{
    box-sizing: border-box;
}
.boxc{
    display: block;
    justify-content: center;
    gap: 0px;
    padding: 40px 140px;
}
.box{
    width: 400px;
    background-color: #222222e9;
    color:#ffffff;
    padding: 12px 10px;
    text-align: center;
    margin-top: 20px;
}
.box img{
    width: 100%;
}
.box p{
    font-size: 90%;
    line-height: 1.4;
}
.box h2{
    padding-bottom: 4%;
}

.navbar ul {
     display: none;
    flex-direction: column;
    position: absolute;
    top: 8%;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: #272727f9;

}

.navbar ul.active {
    display: flex;
}

.navbar ul.active li {
    padding: 10px 0; 
}

.menu-icon {
    display: block;
    cursor: pointer;
    margin-left: auto;
}
.line{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
}
.navbar1 ul li a{
    display: none;
}
.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;  
}
.textLeva{
    padding-top: 2%;
     flex: 1; 
     max-width: 500px;
}
.obrPrava{
    width: 500px;
    height: auto;
}
}
@media only screen and (max-width: 600px)
{
.galerie{
    margin: 0 auto;
    width: 86%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    gap: 0;  
}
.textboxCenik{
    font-size: 80%;
}
.boxc{
    display: block;
    justify-content: center;
    gap: 0px;
    padding: 40px 100px;
}
.box{
    width: 300px;
    background-color: #222222e9;
    color:#ffffff;
    padding: 12px 10px;
    text-align: center;
    margin-top: 20px;
}
.box img{
    width: 100%;
}
.box p{
    font-size: 90%;
    line-height: 1.4;
}
.box h2{
    padding-bottom: 4%;
}
.cenikgal img {
    width: 150px;
    height: auto;
    border-radius: 2px;
}
.mapak{
     width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.obrPrava{
    width: 300px;
    height: auto;
}
}
@media only screen and (max-width: 450px)
{
.infotext{
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}
.infotext h3{
    font-size: 20px;
}
.infotext p{
    font-size: 14px;
}
.rezbut{
    text-decoration: none;
    color: white;
    background-color: rgb(227, 30, 36);
    padding: 6px 10px;
    margin: 5px 2px;
    cursor: pointer;
}
.ubyt {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;  
}
.osoby{
    margin-top: 20px;
    background-color: #222222d0;
    color: white;
    border-radius: 5px;
    padding: 20px;
    max-width: 200px;
    width: 100%;
    text-align: center; 
}
.mapa{
    display: block;
    width: 250px;
    height: 150px;
    margin: 0 auto;
}
.infochata{
    width: 80px;
    margin: 20px auto;
    padding: 20px 100px;
    background-color:#222222d0; 
    border-radius: 5px;
    color: white; 
}
 textarea {
        width: 100%;
        max-width: 100%;
 }
 .boxc{
    display: block;
    justify-content: center;
    gap: 0px;
    padding: 40px 100px;
}
.box{
    width: 200px;
    background-color: #222222e9;
    color:#ffffff;
    padding: 12px 10px;
    text-align: center;
    margin-top: 20px;
}
.box img{
    width: 100%;
}
.box p{
    font-size: 90%;
    line-height: 1.4;
}
.box h2{
    padding-bottom: 4%;
}
}